/*This is just the reset to have all the browsers behave the same way (as if IE will listen to it...) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Here are our Universal CSS calls... certain things will just stay consistent no matter what! */
body{
	text-align:center;
	text-decoration: none;
	font-family:verdana,sans-serif;
	font-size: 12px;
}
img{
	
	border: none;

}
div{
	text-align: left;
	line-height: 135%;

}

#wrapper{
	
	margin: 0 auto;
	text-align: center;
	border: none;
	width: 960px;
}

.headerBox{
	
	text-align: center;
	background-color: #66DDDD;
	color: white;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
}

/*blue: #66DDDD*/

/*Here are our page-specific calls*/

.productStep0moduleDiv{
	
	float: left;
	margin: 5px;
	width: 400px;
	padding: 2px;
	min-height: 50px;
	border: 1px solid black;
}
.productStep0largemoduleDiv{
	
	float: left;
	margin: 5px;
	width: 949px;
	min-height: 50px;
	border: 1px solid black;
}
.productStep0colorDiv{
	
	float: left;
	margin: 5px;
	width: 180px;
}
.productStep0colorDivRow{

	width: 949px;
	float: left;
	margin: 5px;
}

.productStep1modulefulldiv{
	
	float: left;
	width: 958px;
	min-height: 50px;
	border: 1px solid black;

}
.productStep1descdivs{
	
	float: left;
	margin: 2px;
	width: 315px;
	min-height: 50px;
}
.productStep1imagedivs{
	
	float: left;
	margin: 2px;
	width: 190px;

}

.promosStep0p{
	
	text-align:left;

}
#promosStep0upperDiv{
	
	text-align:left;
	border: 1px solid black;
	width: 950px;
}

/*this is for the subtypePropertiesCategory page*/
#subtypePropertiesCategorySubtypeDiv{
	
	float: left;
	margin: 0 2px 0 0;
	width:  477px;
	border: 1px solid black;

}

#subtypePropertiesCategoryCategoryDiv{
	
	float: left;
	width:  477px;
	border: 1px solid black;
}

.subtypePropertiesCategoryCategoryp{
	
	margin: 5px;
	line-height: 135%;
}